@use "./base/resetstylesheet"as *;
@use "./utiles/variables"as *;
@use "./layouts/header&footer"as *;
@use "./base/keyframes"as *;
@use "./components/buttons"as *;
@use "./base/mediaqueries" as *;


header,
main,
footer,
.menu,
.location,
.acceuilmsg {
    animation: imageblur 3s ease-in-out;
}

body{
    position: relative;
}




/*Animation au chargement de la page*/

.loading {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(82, 82, 82, 0.5);
    opacity: 0;
    animation: loadingpage 3s ease-in-out;

    &_buttons {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;

        .btn {
            position: absolute;
            border-radius: 50%;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0);
        }

        .btn1 {
            border-width: 3em;
            border-right-color: $clr-violetfonce;
            border-left-color: $clr-violetfonce;
            animation: spin-left 1.1s linear infinite alternate-reverse;
        }

        .btn2 {
            border-width: 2em;
            border-right-color: $clr-violetclaire;
            border-left-color: $clr-violetclaire;
            animation: spin-right 1.1s linear infinite alternate-reverse;
        }

        .btn3 {
            border-width: 1em;
            border-right-color: rgb(153, 226, 208);
            border-left-color: rgb(153, 226, 208);
            animation: spin-left 1s linear infinite alternate-reverse;
        }
    }
}

/*Le css de la page d'acceuil commence ici*/

.acceuilmsg {
    background-color: rgb(248, 248, 248);
    padding-bottom: 3em;
    margin: 0 auto;
    @media  screen and (min-width: 600px) {
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto;
    }

    h1 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: clamp(1.5em, 2vw, 1.7em);
        max-width: 100%;
        width: calc(100% - 4em);
        margin: 0 auto;
        padding-top: 1.5em;
    }

    .h1after {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding-top: .5em;
        width: calc(100% - 4em);
        margin: 0 auto;
        font-size: clamp(1.2em, 1vw, 1.5em);
    }

}

.menu {
    padding-bottom: 2.5em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 2.5em;
    width: calc(100% - 4em);
    margin: 0 auto;
    @media screen and (min-width: 1024px) {
        width: calc(100% - 10em);
        margin: 0 auto;
    }

    h3 {
        width: 100%;
        font-size: clamp(.4em, 1.5em, 3em);
        padding-bottom: 1em;
    }

    &_options {
        display: flex;
        flex-direction: column;
        gap: 1em;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            gap: 1em;
        }

        @media screen and (min-width: 600px) and (max-width: 1023px) {
            display: grid;
            grid-template-columns: auto auto;
        }

    }


    .optionmenu {
        position: relative;
        font-size: 1.1rem;
        font-weight: 600;
        background-color: rgb(248, 248, 248);
        box-shadow: 2px 4px 10px rgb(179, 179, 179);
        border-radius: 30px;
        padding-top: 1.3em;
        padding-bottom: 1.3em;
        padding-left: 1.5em;
        width: 100%;
        margin-bottom: .5em;
        transition: transform 150ms ease-in;


        &:hover {
            cursor: pointer;
            box-shadow: 2px 7px 10px rgb(179, 179, 179);
            background-color: lighten($clr-violetfonce, $amount: 25);
            transform: scale(1.01);

            i {
                color: $clr-violetfonce;
            }

        }

        .menu_numerotations {
            position: absolute;
            top: 23px;
            left: -6px;
            padding: .4em .68em;
            border-radius: 50%;
            color: white;
            font-weight: lighter;
            font-size: .79em;
            background-color: $clr-violetfonce;
        }

        i {
            color: grey;
            padding-right: 1.5em;
            padding-left: 1em;
        }
    }

}

.main {
    background-color: rgb(248, 248, 248);
    padding-top: 2.5em;
    padding-bottom: 4em;
    margin: 0 auto;

    h3 {
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        width: calc(100% - 2.5em);
        margin: 0 auto;
        font-size: 1.5em;
        padding-bottom: 1em;
    }

    &_menus {
        display: grid;
        grid-template-rows: auto auto auto auto;
        row-gap: 1.5em;

        @media screen and (min-width: 600px) {
            grid-template-columns: auto auto;
            grid-template-rows: auto auto;
            row-gap: 4em;
        }



        a {
            color: black;
        }

        .restaurants {
            width: calc(100% - 4em);
            box-shadow: 2px 4px 10px rgb(179, 179, 179);
            margin: 0 auto;
            position: relative;
            border-radius: 20px;
            padding-bottom: 1em;
            cursor: pointer;

            img {
                width: 100%;
                border-radius: 15px 15px 0px 0px;
                height: 200px;
                object-fit: cover;
                float: top;
            }

            .nomrecette {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                font-size: 1.1em;
                font-weight: 700;
                width: calc(100% - 1.7em);
                margin: 0 auto;
                padding-top: .2em;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            p {
                font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                width: calc(100% - 1.7em);
                margin: 0 auto;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .heart {
                position: absolute;
                right: 1em;
                bottom: 1em;

                &:hover {
                    .fas {
                        visibility: visible;
                        mix-blend-mode: darken;
                        animation: heartanim 500ms ease-in-out forwards;
                    }
                }

                i {
                    position: absolute;
                    right: .2em;
                    bottom: 0;
                }

                .fas {
                    visibility: hidden;
                    mix-blend-mode: darken;
                    color: $clr-violetfonce;
                }
            }
        }
    }
}